/* Age Gate */
.error {
  color: red
}

select.error {
  color: red;
  border: 1px solid red
}

#age-gate {
  display: block;
  position: fixed;
  top: 0;  left: 0;
  right: 0;  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, .8);
  z-index: 10000;
}

#age-gate > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  padding: 40px;
  max-width:500px;
  /* height:550px; */
  background: #eee7df;
  border: 1px solid #E1E1E1;
  font-size: 16px;
  color: #606060;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.age-gate-logo {
	padding-bottom: 15px;
	display:block;
	margin:0 auto;
}
#age-gate h1 {
  color: #000;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: .5px;
}

#age-gate p {
  letter-spacing: .25px;
}

#age-gate form .form-item {
  display: block;
  margin: 10px 0;
}

#age-gate label {
	display:block;
}

#age-gate input[type='submit'] {
  font-family: "Times New Roman", Times, serif;
  border: 2px solid #fff;
  text-shadow: 0 0 4px #000;
  color:#fff;
  background-color: #ad0100;
  cursor: pointer;
  width: 280px;
  margin: 10px;
  padding: 10px 40px;
  text-transform: uppercase;
  box-shadow: 0 0 6px #fff;
  letter-spacing:0.07em;
}

#age-gate input[type='submit']:hover {
  background-color: #812b00;
}

#age-gate .form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

#age-country {
	width:265px;
	margin:0 auto;
}

@media screen and (max-width: 501px) {
	#age-gate > div {
	  position: absolute;
	  top: 0; bottom:0;
	  left: 0; right:0;
	  margin: 0;
	  width:100%;
	  height:100%;
	  -webkit-border-radius:0;
	  -moz-border-radius:0;
	  border-radius:0;
	  padding:20px 10px;
	  font-size:12px;
	}
    #age-gate input[type='submit'] {
		width: 80%;
	}
}
@media screen and (max-height: 361px) {
	.age-gate-logo {
		display: none;
	}
}